.navigation-tabs {
    width: 100%;
    background-color: #C51515;
    margin-left: 0%;
    margin-top: 0%;
    font-size: large;
  }
  li {
    display: inline-flex;
    align-items: center;
    padding: 5px 20px;
  }
  li:hover {
    background-color: red;
  }